<%= tree_ul(@roots) do |page, list_options|
  if current_page?(backend_page_path(page))
    list_options[:class] = 'active-show'
  elsif current_page?(edit_backend_page_path(page))
    list_options[:class] = 'active-edit'
  end
  
  link_to_unless_current(h(page.title), backend_page_path(page)) do |title|
    "<span>#{title}</span>"
  end
end %>
