<h1><%=t :edit_page_header, :title => @page.title %></h1>
<% form_for [:backend, @page] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit t(:save) %>
  </p>
<% end %>
<hr class="clearer" />
<p><%= link_to t(:back), backend_page_path(@page) %></p>