<h1><%=t :new_page_header %></h1>
<% form_for [:backend, @parent, @page] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit t(:save) %>
  </p>
<% end %>
<hr class="clearer" />
<p><%= link_to t(:back), @parent ? backend_page_path(@parent) : backend_pages_path %></p>