#page-tree {
  position: absolute;
  width: 300px;
  font-size: 108%;
  margin-left: 1em;
}
#page-tree ul {
  margin-top: 0;
  margin-left: 0.5em;
  padding: 0.5em;
}
#page-tree > ul {
  margin-top: 0;
}

#page-content {
  margin-left: 300px;
}
#page-content dl.info {
  float: left;
  width: 34em;
  margin-left: 0;
}
#page-content dl.info dt {
  font-weight: bold;
  float: left;
  width: 12em;
}
#page-content dl.info dd {
  margin: 0;
  float: left;
  width: 22em;
  height: 1.5em;
}
#page-content .containers .container {
  border: 1px dashed gray;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.5em;
}
#page-content .containers .container h3 {
  margin-top: 0;
  color: #abc;
}
#page-content .containers .container ul.contents {
  cursor: move;
  margin: 0 0 1em 0;
}
#page-content .containers .container ul.contents li {
  background: #FFEACF;
  border: 1px solid #ffffff;
  list-style: none;
  padding: 0.5em;
}
#page-content .containers .container ul.contents li .content-definition-title {
  text-transform: uppercase;
  font-size: 93%;
  font-weight: bold;
}
#page-content .containers .drop-over {
  background: #FFEACF;
}